:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --nav-bg-color: #013908;
    --nav-text-color: #fff;
    --button-bg-color: #013908;
    --button-text-color: #fff;
    --button-hover-bg-color: #0a5603;
    --button-active-bg-color: #15a9df;
    --button-border-color: #013206;
    --input-border-color: #0a0a0a;
    --input-focus-border-color: #46a8f8;
    --input-focus-shadow-color: rgba(19, 199, 240, 0.6);
    --message-bg-color: #e0e0e0; /* Светло-серый фон для сообщений */
    --message-text-color: #000000; /* Черный цвет текста для сообщений */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.player-container {
    padding: 20px;
}

header nav ul {
    list-style: none;
    background-color: var(--nav-bg-color);
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    margin-right: 10px;
    color: var(--nav-text-color);
}

header nav ul li a,
header nav ul li span {
    color: var(--nav-text-color);
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

header nav ul li button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

header nav ul li button:hover {
    background-color: var(--button-hover-bg-color);
}

header nav ul li button:active {
    background-color: var(--button-active-bg-color);
}


.characters-section,
.create-character,
.selected-character,
.chat-section,
.general-chat,
.character-stats {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.character-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.character-item button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.character-item button:hover {
    background-color: var(--button-hover-bg-color);
}

.character-item button:active {
    background-color: var(--button-active-bg-color);
}

.character-item form {
    display: inline-block;
}

.chat-section,
.general-chat {
    max-height: 400px;
    overflow-y: auto;
}

#chat-box,
#general-chat-box {
    border: 1px solid var(--input-border-color);
    background-color: #fff;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
}

.chat-message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    background-color: var(--message-bg-color); /* Светло-серый фон */
    color: var(--message-text-color); /* Черный цвет текста */
}


.chat-message.right {
    background-color: #d3d3d3; /* Светло-серый фон для сообщений пользователя */
    color: #000; /* Черный цвет текста */
    margin-left: auto;
}

.chat-message.left {
    background-color: #f0f0f0; /* Другой оттенок серого для сообщений нейросети */
    color: #000; /* Черный цвет текста */
}


.timestamp {
    font-size: 0.8em;
    color: #888;
    display: block;
    margin-top: 5px;
}

#chat-form,
#general-chat-form {
    display: flex;
    margin-top: 10px;
}

#chat-form input[type="text"],
#general-chat-form input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

#chat-form button,
#general-chat-form button {
    padding: 8px 20px;
}

.selected-character img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 306px; /* Устанавливаем высоту */
}

.character-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.character-stats canvas {
    width: 100%;
    height: auto;
}

.character-management {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.characters-section {
    flex: 1;
    max-height: 500px; /* Устанавливаем фиксированную высоту */
    overflow-y: auto; /* Добавляем скролл */
    border: 1px solid var(--input-border-color);
    padding: 10px;
}

.create-character {
    flex: 1;
}

.create-character textarea {
    width: 100%;
    height: 120px; /* Увеличиваем высоту */
}

.create-character input[type="text"] {
    width: 100%;
}

/* Адаптивные стили */
@media (max-width: 600px) {
    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    .nav-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-group li {
        margin-bottom: 10px;
    }

    .character-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .character-management {
        flex-direction: column;
        align-items: flex-start;
    }
}
