:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --nav-bg-color: #013908;
    --nav-text-color: #fff;
    --button-bg-color: #013908;
    --button-text-color: #fff;
    --button-inactive-bg-color: #ccc;
    --input-border-color: #ccc;
    --input-focus-border-color: #66afe9;
    --input-focus-shadow-color: rgba(102, 175, 233, 0.6);
    --chat-box-border-color: #ccc;
    --chat-box-bg-color: #fff;
    --chat-box-text-color: #333;
    --button-hover-color: #013908;
    --button-active-color: #013908;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    background-color: var(--nav-bg-color);
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

nav ul li a:hover {
    background-color: darken(var(--button-bg-color), 10%);
    color: var(--button-text-color);
}

.container {
    padding: 20px;
}

.user-id {
    margin-left: auto;
    font-weight: bold;
}

/* Styles for viewer interface */
#players-names {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.player-name {
    width: 45%;
    text-align: center;
    border: 1px solid #3209e8;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.player-name h3 {
    margin: 0;
    font-size: 1.2em;
}

.character-section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.character-section .character {
    width: 45%;
    text-align: center;
}

.character-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.character-section p {
    margin-top: 10px;
    font-size: 1em;
}

/* Styles for arena chat */
#arena-chat-box {
    border: 1px solid var(--chat-box-border-color);
    background-color: var(--chat-box-bg-color);
    color: var(--chat-box-text-color);
    padding: 10px;
    margin-top: 10px;
    height: 200px;
    overflow-y: scroll;
}

.arena-chat-message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
}

.arena-chat-message.left {
    background-color: var(--button-inactive-bg-color);
    color: var(--text-color);
    margin-right: auto;
}

.arena-chat-message.right {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    margin-left: auto;
}

.arena-chat-message.center {
    background-color: var(--chat-box-bg-color);
    color: var(--text-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Styles for general chat */
#general-chat-box {
    border: 1px solid var(--chat-box-border-color);
    background-color: var(--chat-box-bg-color);
    color: var(--chat-box-text-color);
    padding: 10px;
    margin-top: 10px;
    height: 200px;
    overflow-y: scroll;
}

.general-chat-message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
}

.general-chat-message.left {
    background-color: var(--button-inactive-bg-color);
    color: var(--text-color);
    margin-right: auto;
}

.general-chat-message.right {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    margin-left: auto;
}

.general-chat-message.center {
    background-color: var(--chat-box-bg-color);
    color: var (--text-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#general-chat-form {
    display: flex;
    margin-top: 10px;
}

#general-chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    margin-right: 10px;
}

#general-chat-form button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#general-chat-form button:hover {
    background-color: var(--button-hover-color);
}

#general-chat-form button:active {
    background-color: var(--button-active-color);
}

.timestamp {
    font-size: 0.8em;
    color: #888;
    display: block;
    margin-top: 5px;
}
