{% extends 'base.html' %}
<!-- arena.html -->
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arena.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/chart_script.js"></script>

{% endblock %}

{% block content %}
<div class="arena-header">
    {% if arena_image_url %}
    <img src="{{ url_for('static', filename=arena_image_url) }}" alt="Arena Image" class="arena-image">
    {% endif %}
</div>
{% if show_start_game_popup %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            showNotification("Добро пожаловать на арену! Игра начинается!");
        });
    </script>
{% endif %}

<!-- Player Table -->
<table id="players-table">
    <thead>
        <tr>
            <th>N</th>
            <th>Player Name/ID</th>
            <th>Character Name</th>
            <th>Character Traits</th>
            <th>Character Image</th>
        </tr>
    </thead>
    <tbody>
        {% for character in characters %}
        <tr data-traits="{{ character.traits | tojson }}">
            <td>{{ loop.index }}</td>
            <td>{{ character.user_id }}</td>
            <td>{{ character.name }}</td>
            <td>
                <div class="chart-container">
                    <canvas id="traits-chart-{{ loop.index }}" class="chart-canvas"></canvas>
                </div>
            </td>
            <td>
                <img src="{{ url_for('static', filename=character.image_url) }}" alt="Character Image" class="character-image" data-description="{{ character.description }}">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="notification-popup" class="notification-popup">
    <p id="notification-message"></p>
</div>

<!-- Arena Chat -->
<h2>Arena Chat</h2>
<div id="arena-chat-box">
</div>

<!-- Tactics AI Chat -->
<h2>Tactics AI Chat</h2>
<div id="tactics-chat-box">
</div>
<form id="tactics-chat-form">
    <input type="text" id="tactics-chat-input" placeholder="Enter message...">
    <button type="submit">Send</button>
</form>

<!-- General Chat for Players, Spectators, and AI -->
<h2>General Chat</h2>
<div id="general-chat-box">
</div>
<form id="general-chat-form">
    <input type="text" id="general-chat-input" placeholder="Enter message...">
    <button type="submit">Send</button>
</form>

<div id="tooltip" style="position: absolute; display: none; background: #fff; border: 1px solid #ccc; padding: 10px; border-radius: 4px;"></div>

<script>
    const user_id = "{{ g.user.id }}";
</script>
<script src="{{ url_for('static', filename='js/arena.js') }}"></script>
{% endblock %}
