
<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Arena</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul class="nav-group">
                <li><a href="/">Главная</a></li>
                <!-- <li><a href="/profile">Профиль</a></li> -->
                <li><a href="/viewer">Зритель</a></li>
                <li><a href="/player">Игрок</a></li>
                <li><a href="/admin">Админ</a></li> <!-- Добавляем эту строку для кнопки "Админ" -->
                <!-- <li><a href="/logout">Выход</a></li> -->
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
