{% extends 'base.html' %}

{% block nav %}
<nav>
    <ul class="nav-group">
        <li><a href="/">Home</a></li>
        <li><a href="/arena">Arena</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="player-container">
    <main>
        <div class="character-info">
            {% if selected_character %}
            <div class="selected-character">
                <h3 id="character-name">{{ selected_character.name }}</h3>
                <img src="{{ url_for('static', filename=selected_character.image_url.replace('\\', '/')) }}" alt="Character Image">
            </div>
            {% endif %}

            <div class="character-stats">
                <h2>Character Stats</h2>
                <canvas id="character-chart"></canvas>
            </div>
        </div>

        <div class="character-management">
            <div class="characters-section">
                <ul id="character-list">
                    {% for character in characters %}
                    <li class="character-item">
                        <!-- <span class="character-name">{{ character.name }}</span> -->
                        <button type="button" class="character-name"  data-id="{{ character.id }}" data-name="{{ character.name }}" data-description="{{ character.description }}" data-traits="{{ character.traits }}">{{ character.name }}</button>
                        <form method="post" action="{{ url_for('player_bp.delete_character', character_id=character.id) }}" class="delete-form">
                            <button type="submit">Delete</button>
                        </form>
                        
                    {% endfor %}
                </ul>
                <p id="no-characters-message" style="display:none; color: red;">No characters available for participation in battles.</p>
            </div>

            <div class="create-character">
                <form id="create-character-form" method="post" action="{{ url_for('player_bp.create_character') }}">
                    <label for="name">Character Name:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="description">Character Description:</label>
                    <textarea id="description" name="description" rows="6" required></textarea>
                    <div class="extra-input-container">
                        <input type="text" id="extraInput" name="extraInput" class="extra-input" placeholder="" readonly>
                        <button type="submit">Create Character</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="chat-section">
            <h2>Chat with AI</h2>
            <div id="chat-box">
                {% for message in messages %}
                <div class="chat-message {{ 'right' if message.user_id == g.user.id else 'left' }}">
                    <p>{{ message.content }}</p>
                    <span class="timestamp">{{ message.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                </div>
                {% endfor %}
            </div>
            <form id="chat-form" method="post" action="{{ url_for('player_bp.send_message') }}">
                <input type="text" id="message" name="message" placeholder="Enter your message...">
                <button type="submit">Send</button>
            </form>
        </div>
    </main>
</div>

<script>
    const selectedCharacterTraits = {% if selected_character %}{{ selected_character.traits | tojson | safe }}{% else %}null{% endif %};
    const lastCharacterId = {{ last_character_id if last_character_id else 'null' }};
</script>

<script src="{{ url_for('static', filename='js/player.js') }}"></script>
{% endblock %}
