{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewer.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<h1>Интерфейс зрителя</h1>

<!-- Название арены -->
<h2>Магическая арена</h2>
<!-- Имена персонажей -->
<div id="players-names">
    <div class="player-name" id="player1-name">
        <h3>{{ characters[0].name if characters|length > 0 else 'Player 1' }}</h3>
    </div>
    <div class="player-name" id="player2-name">
        <h3>{{ characters[1].name if characters|length > 1 else 'Player 2' }}</h3>
    </div>
</div>

<!-- Изображения персонажей и их характеристики -->
<div class="character-section">
    <div class="character">
        <img src="{{ url_for('static', filename='images/default/player1.png') }}" alt="Player 1 Image" id="player1-image">
        <p id="player1-description">{{ characters[0].description if characters|length > 0 else 'Описание персонажа 1' }}</p>
        <!-- График характеристик персонажа -->
        <div class="character-stats">
            <h2>Характеристики персонажа</h2>
            <canvas id="player1-stats"></canvas>
        </div>
    </div>
    <div class="character">
        <img src="{{ url_for('static', filename='images/default/player2.png') }}" alt="Player 2 Image" id="player2-image">
        <p id="player2-description">{{ characters[1].description if characters|length > 1 else 'Описание персонажа 2' }}</p>
        <!-- График характеристик персонажа -->
        <div class="character-stats">
            <h2>Характеристики персонажа</h2>
            <canvas id="player2-stats"></canvas>
        </div>
    </div>
</div>

<!-- Чат -->
<h2>Чат</h2>
<div id="chat-box">
    {% for message in messages %}
        <div class="chat-message {{ 'right' if message.user_id == 1 else 'left' }}">
            <p>{{ message.content }}</p>
            <span class="timestamp">{{ message.timestamp.strftime('%Y-%м-%д %H:%M:%S') }}</span>
        </div>
    {% endfor %}
</div>
<form id="chat-form" method="post" action="{{ url_for('admin.send_message') }}">
    <input type="text" id="message" name="message" placeholder="Введите сообщение...">
    <button type="submit">Отправить</button>
</form>

{% endblock %}
